body,button,input,select,textare,td,th {
	font: 12px/18px 宋体;
}

.clear {
	clear: both;
	height: 0;
	font: 0/0 Arial;
	visibility: hidden;
	line-height: 0;
}

.threadlist li {
	padding: 10px 0;
	zoom: 1;
	position: relative;
}

.threadlist_li_left {
	float: left;
	width: 75px;
	overflow: hidden;
}

p,div,td,span {
	word-break: break-all;
	-webkit-box-sizing: content-box;
}

ul,form,h2,fieldset {
	margin: 0;
	padding: 0;
}

ul,ol {
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.threadlist_rep_num {
	padding: 0 4px 0 1px;
	overflow: hidden;
	width: 56px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #333;
	background: url(/public/images/reply_num_bg.gif) no-repeat;
	margin-left: 10px;
}

.threadlist_title a,.threadlist_title a:hover {
	color: #1d53bf;
	font-size: 14px;
}

.clearfix {
	display: block;
	zoom: 1;
	padding: 0;
}

.clearfix:after {
	line-height: 0;
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.threadlist_li_right {
	float: left;
	width: 903px;
}

.threadlist_lz {
	height: 23px;
	line-height: 23px;
	overflow: hidden;
}

.threadlist_title {
	height: 20px;
	overflow: hidden;
	line-height: 18px;
}

.threadlist_text {
	width: 690px;
	float: left;
	display: inline;
	margin-right: 41px;
	padding-top: 3px;
}

.threadlist_author {
	width: 171px;
	overflow: hidden;
	float: right;
	display: inline;
	overflow: hidden;
	color: #999;
}

.tb_icon_author,.tb_icon_author_rely,.tb_icon_retract,.tb_icon_ypic,.tb_icon_turnleft,.tb_icon_turnright
	{
	background: url(/public/images/tb_icon.png) no-repeat;
}

.tb_icon_author,.tb_icon_author_rely {
	height: 20px;
	line-height: 20px;
	padding-left: 16px;
	overflow: hidden;
	width: 94px;
	display: inline-block;
	margin-right: 16px;
	background-position: 0 -852px;
}

.tb_icon_author_rely {
	background-position: 0 -883px;
}

.threadlist_abs_onlyline {
	width: 691px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.threadlist_reply_date {
	height: 20px;
	line-height: 20px;
	width: 35px;
	display: inline-block;
	color: #999;
	overflow: hidden;
}

.threadlist li.threadlist_li_gray,.threadlist_li_gray .enter_pb_wrapper,.threadlist_li_gray .threadlist_tuiguang_wrapper
	{
	background-color: #f5f5f5;
}

.editor_tip_show {
	left: 35px;
	padding: 6px;
	position: absolute;
	top: 60px;
	width: 600px;
	z-index: 1000;
}

.editor_banned_tip_info {
	border: 1px solid #d4d4d4;
	box-shadow: 3px 3px #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3,
		Color=#E5E5E5, Positive=true);
	zoom: 1;
	background: #fffcd2;
	padding: 8px 20px 5px 20px;
	float: left;
	color: black;
}

.core_title_wrap {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.core_title_theme2 {
	background: #fff;
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
}

.core_title h1 {
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.p_postlist {
	position: relative;
	border-style: solid;
	border-width: 2px 0;
	border-color: #999;
	z-index: 1;
}

.d_author,.d_author_anonym {
	width: 130px;
	float: left;
	text-align: center;
	padding: 15px 0;
}

.d_author img.avatar {
	width: auto;
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #fff;
}

.louzhubiaoshi_wrap {
	position: relative;
	border: 0 solid #f00;
	z-index: 1;
	zoom: 1;
}

.louzhubiaoshi {
	position: absolute;
	width: 36px;
	height: 36px;
	top: -15px;
	right: 0;
	background: url(/public/images/pb_css_pic.png) no-repeat -172px -120px;
	border: 0 solid #f00;
}

.post_icon {
	position: relative;
	text-align: center;
}

.icon_relative {
	position: relative;
	zoom: 1;
	display: inline-block;
	zoom: 1;
	zoom: 1;
}

.d_post_content_main {
	float: left;
	padding: 20px 15px 7px;
	width: 820px;
}

.p_content {
	height: auto !important;
	min-height: 145px;
	height: 145px;
}

.share_thread {
	margin: 17px auto 13px;
	height: 40px;
	text-align: center;
	border: 0 solid #dcdcdc;
}

.l_post {
	border-top: 1px solid #d9d9d9;
	background: url(/public/images/main_bg_left.png) repeat-y;
	width: 980px;
}

.l_post_anchor {
	position: relative;
	top: -43px;
	float: left;
	margin: 0;
	padding: 0;
	width: 0;
}

.core_reply_tail {
	line-height: 28px;
	height: 28px;
}

.core_reply_tail ul {
	list-style: none;
	float: right;
}

.p_reply {
	float: right;
	margin-left: 6px;
}

.core_reply_wrapper {
	margin: 0 0 8px 15px;
	background: #fafafa;
}