html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0 auto; padding:0;
	border:0; outline:0;
	font-weight:inherit; font-style:inherit;
	font-size:100%; font-family:inherit;
	vertical-align:baseline;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	*zoom:1;
}
ol, ul {
	list-style: none;
}
body{
	font-family:Arial, Tahoma, Helvetica, Hiragino Sans GB;
	position:static;
	background:#fff;
	-webkit-font-smoothing:antialiased;
	/*-webkit-text-size-adjust:none;*/
	font-size:12px; line-height:16px;
}
input{
	width:128px;
	height:22px;
	line-height:22px;
	font-size:12px;
	margin:4px auto 0; padding:0 4px;
	display:inline-block; *display:inline;
	color:#666; background: #fff;
    outline:none;
    border:1px solid #dddddd; border-top:1px solid #ebebeb;  border-bottom: 1px solid #b7b7b7;
	border-radius:2px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
a:link{
	text-decoration:none;
}
.l{
	float:left;
}
.r{
	float:right;
}
.tabb{
	border:none;
	box-shadow:none;
	background:none!important;
}
.bg{
}
/*tabb*/

.tabb{
	width:100%;
	background-color:#fefefe;
	overflow:visible;
	position:relative;
	*zoom:1;
	margin:0 auto 16px;
	padding:0;
	border:1px solid #ccc; border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
}
.page{
	text-align:left;
	padding:0;
	margin:0;
	position:absolute;
	display:none;
	opacity:0;
	*zoom:1;
}
.page.active{
	display:block;
	position:relative;
	opacity:1;
	*zoom:1;
}
.banner{
	width:auto;
	text-align:left;
	position:relative;
	*zoom:1;
	color:#666;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	font-size:14px;
	height:36px; line-height:34px;
	border-top:1px solid #fff; border-bottom:1px solid #ddd;
	background-color:#fafafa;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}
.mini.banner{
	height:28px; line-height:26px;
}
.banner .tab{
	cursor:pointer;
	display:inline-block; *display:inline;
	width:auto; height:34px; line-height:34px;
	margin:0; padding:0 16px;
	text-align:center;
	overflow:hidden;
	color:#333;
	float:left;
	position:relative;
	border:none;
	*zoom:1;
	font-size:14px;
	border-right:1px solid #eee;
}
.mini.banner .tab{
	height:26px; line-height:26px;
}
.banner .tab:hover{
	background-color:#eee; color:#333;
	border-color:#eee;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.banner .active.tab{
	background-color:#333;
	border-color:#333;
	color:#fff;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.banner .active.tab .icon{
	 background-image:url(image/icon-white.png);
}
.tab.right{
	border:none;
	border-left:1px solid #eee;
}
.tab.fixed{
	float:left!important;
	border:none;
	cursor:default;
	font-size:18px; font-weight:normal;
	font-family:Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
	overflow:visible;
	padding:0 8px;
}
.tab.fixed:hover{
	background-color:transparent;
	color:#333;
	box-shadow:none;
}
.tab.fixed .hint{
	font-size:10px;
	color:#ccc;
	margin:0 0 0 4px;
}
.tab .hint{
	_display:none;
}
.tab .icon{
	top:2px;
}
.tab.more{
	cursor:pointer;
	background-color:transparent;
	height:32px;
	line-height:32px;
	margin:0;
	float:right;
	color:#08c;
	border-radius:2px;
	border:none;
	width:auto;
	height:24px;
	line-height:24px;
	font-size:14px;
	padding:0 4px;
	margin-right:4px;
	position:relative;
	top:4px;
}
.tab.more:hover{
	background-color:#eee;
}
.tab.more a{
	color:#fff;
}
.tab.tool{
	position:absolute;
	right:0; top:0;
	margin-right:8px; padding:0;
	cursor:default;
	border:none!important;
	background-color:transparent;
}
.tab.tool:hover{
	background:none;
}
.tool.tab .btn{
	min-width:48px; width:auto; *width:32px; height:28px;
	line-height:26px;
	position:relative;
	top:3px;
}
.tool.tab .btn .icon{
	top:0;
	*top:4px;
	margin:0;
}
.tabb li{
	position:relative;
	display:block;
	width:100%;
	height:32px;
	line-height:32px;
	overflow:hidden;
}
.tabb .page li:nth-of-type(2n){
	background-color:#f9f9f9;
}
.item-tabb:hover{
	border-color:#c33!important;
}
.item-tabb:hover .title{
	color:#c33;
}
.menu{
	position:absolute;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	font-size:13px;
	top:auto; left:0;
	z-index:8;
	min-width:160px; *width:160px;
	padding:0; margin:0;
	list-style:none;
	background-color:#fff;
	border:1px solid #fff;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	display:none;
}
/*Guide*/
#guide-space{
	width:100%;
	height:48px;
}
#guide{
	width:100%; height:48px;
	left:0; top:0;
	
	z-index:7;
	background:url(../images/guide.png) top center repeat;
}
#guide-inner{
	margin:0 auto;
	width:980px;
	height:100%;
	text-align:left;
	position:relative;
	text-shadow:0 -1px 0 rgba(255, 255, 255, 0.1);
	color:#666;
}
#guide-inner .item-guide-top{
	display:inline-block; *display:inline;
	float:left;
	_width:0; _white-space: nowrap;
}
#login-guide .pts{
	background-color:#c33; color:#fff;
	display:block; position:absolute;
	font-size:10px; font-weight:normal;
	width:auto; height:12px; line-height:12px; text-align:center;
	margin:0; padding:0 4px;
	right:-2px; top:6px;
	border-radius:2px;
	cursor:pointer;
}
/*Guide*/
#link-logo-guide{
	display:block;
	height:42px; line-height:42px; width:auto;
	color:#666;
	text-align:left;
	margin:0; padding:0; padding-right:24px;
	font-size:18px; font-weight:bold;
}
#link-logo-guide:hover{
	color:#333;
}
#menu-location-guide-top{
	width:320px; height:auto;
	margin:0; padding:2px;
}
#menu-location-guide-top .tabb{
	margin:0; padding:0;
}
.item-channel-guide{
	width:auto; height:42px; line-height:42px;
	display:inline-block; *display:inline;
	position:relative;
	margin:0; padding:0 16px;
	text-align:left;
	color:#666!important;
	float:left;
	font-size:15px; font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	border-left:1px solid #ddd;
}
.item-guide-top:last-of-type .item-channel-guide{
	border-right:1px solid #ddd;
}
.item-channel-guide:hover{
	background-color:#f9f9f9;
}
#menu-location-guide-top .page{
	padding:4px 8px 8px;
}
#menu-location-guide-top a{
	display:inline-block; *display:inline;
	height:24px; line-height:22px;
	border:1px solid #fff;
	border-radius:1px;
	font-size:13px;
	color:#666;
	cursor:pointer;
	margin:2px 0 0 2px; padding:0 4px;
}
#menu-location-guide-top a:hover{
	border:1px solid #369;
	background-color:#08c;
	color:#fff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
}
#menu-location-guide-top .hint{
	display:inline-block; *display:inline;
	background-color:#c33; color:#fff;
	border-radius:1px;
	height:14px; line-height:14px;
	font-size:12px; font-weight:normal;
	margin:0 2px 0 0; padding:0 4px;
}
/*Search*/
#search-guide{
	float:right;
	width:auto;
	*width:160px;
	height:42px;
	line-height:42px;
	text-align:right;
	display:inline-block;
	*display:inline;
	position:relative;
}
#menu-header-search{
	left:0;
	top:36px;
}
#input-search-guide{
	width:120px;
	height:24px;
	line-height:24px;
	position:relative;
	margin:8px 0 0 0;
	padding:0 32px 0 8px;
	float:right;
}
#input-search-guide:hover, #input-search-guide:focus{
	color:#666;
}
.btn-search{
	background:none;
	cursor:pointer;
	padding:0;
	position:absolute;
	border:none;
	background-color:transparent;
	height:24px;
	width:24px;
	font-size:12px;
	line-height:24px;
	z-index:1;
}
#btn-search-guide{
	background:transparent;
	cursor:pointer;
	margin:4px 2px 0;
	padding:0;
	position:absolute;
	border-radius:2px;
	top:1px;
	right:0;
	border:none;
	background-color:transparent;
	height:24px;
	width:24px;
	font-size:13px;
	line-height:24px;
}
#btn-search-guide .icon{
	margin:0;
	margin-top:2px;
	*margin-top:6px;
}
.icon{
	display:inline-block;
	*zoom:1;
	position:relative;
	width:14px; _width:auto; height:14px; line-height:1; _height:16px; _line-height:16px;
	vertical-align:text-top;
	background-image:url(../images/icon.png); _background-image:none;
	background-position:14px 14px;
	background-repeat:no-repeat;
	margin-right:4px; *margin-right:.3em; _margin-right:0;
	overflow:hidden;
	color:#999;
	font-style:normal;
	font-size:0; _font-size:10px;
}
.icon-search{
	background-position:-48px 0;
}
/*Login*/
.btn{
	min-width:48px; *min-width:auto; width:auto; height:32px; line-height:28px;
	text-align:center; vertical-align:middle;
	display:inline-block; *display:inline;
	position:relative; float:left; *zoom:1;
	padding:0 8px; margin:0 -1px; *margin-left:.3em;
	font-size:13px; font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	color:#333333; background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) , to(#e6e6e6) );
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	border:1px solid #dddddd; border-top:1px solid #ebebeb; border-bottom: 1px solid #b7b7b7;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.2);
	cursor:pointer;
}
.info.btn, btn-info{
	background-color:#49afcd;
	*background-color:#2f96b4;
	background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de) , to(#2f96b4) );
	background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat:repeat-x;
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	color:#fff;
}
.success.btn{
	background-color:#5bb75b;
	*background-color:#51a351;
	background-image:-ms-linear-gradient(top, #62c462, #51a351);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462) , to(#51a351) );
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(top, #62c462, #51a351);
	background-repeat:repeat-x;
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	color:#fff;
}
#guide-inner #login-guide{
	position:relative;
	height:42px; line-height:42px;
	margin:0 8px;
	text-align:right;
	_width:auto;
}
#guide-inner #area-public-guide-top{
	_width:96px;
	display:inline-block; *display:inline;
}
#login-guide .item-guide-top{
	margin:0 4px;
	position:relative;
}
#login-guide .btn{
	margin-top:8px; padding:0 8px;
}
.mini.btn, .btn-mini{
	height:26px; line-height:24px;
}
.active.btn.info:hover, .btn.info:active, .btn.info, .btn.info.disabled, .btn.info[disabled]{
	background-color:#2f96b4;
	*background-color:#2a85a0;
}
.active.btn.success:hover, .btn.success:active, .btn.success, .btn.success.disabled, .btn.success[disabled]{
	background-color:#51a351;
	*background-color:#499249;
}

#hint-name-guide{
	height:42px; line-height:42px;
	padding:0 16px 0 4px;
	font-size:14px; font-family:"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	display:inline-block; *display:inline;
	color:#666;
}
#hint-name-guide .icon{
	margin-top:2px;
}
#login-guide #at-guide, #login-guide #subs-guide, #login-guide #newFollowed-guide, #login-guide #mail-guide{
	_display:none;
}
/*container*/
#container{
	margin: 0pt auto;
	width:980px;
	position:relative;
}
#content1{
	width:100%;
	clear:both;
	height:220px;
}
#cat{
	
	position:absolute;
	right:0px;
	z-index:1;
}
#list{
	width:100%;
	height:160px;
	border-style:solid;
	border-color:#DDDDDD;
	border-width:6px;
	border-radius:15px;
	position:absolute;
	top:60px;
}
.block{
	height: 100px;
	padding-top: 25px;
	margin-right: 30px;
	width: 230px;
	margin-left: 30px;
	float:left;
}
.mulu{list-style:none;
	float:left;
	margin: 0px 15px 0px 0px;
	padding: 0 2px;
}
.st{
	background: #fff1f6;
	color: #ff6ea7;
	font-size: 14px;
	display: inline-block;
	line-height: 24px;
	padding: 0 8px;
	border-radius: 3px;
	font-weight: bold;
	margin-bottom: 11px;
}
/*self*/
.home_top_box{
	width:958px;height:373px;border:1px solid #d5d5d5;
	}
.home_top_bg{
	height:330px;width:958px;position:relative;
}
.mb20 {
	margin-bottom: 20px!important;
}
.r5 {
	border-radius: 5px;
}
.rt5 {
	border-radius: 5px 5px 0 0;
}
.home_top_all {
	width: 958px;
	height: 144px;
	position: absolute;
	bottom: 0;
}
.home_top_all .h_t_bg {
	width: 958px;
	height: 144px;
	position: absolute;
	bottom: 0;
	background: url(/img/home_top_bg.png) no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/home_top_bg.png',sizingMethod="crop");
}
.top_avatar {
	height: 233px;
	width: 186px;
	padding: 3px;
	background: #fff;
	position: absolute;
	bottom: 17px;
	left: 15px;
	border-radius: 8px;
	box-shadow: 1px 1px 2px #e4e4e4;
}
.top_avatar .u_i {
width: 180px;
height: 180px;
}
122nqgmedia="all"
.r5 {
border-radius: 5px;
}
.record {
margin: 4px 0;
width: 180px;
overflow: hidden;
}
.record .fans {
width: 54px;
}
.record li {
float: left;
border-right: 1px #ccc dotted;
}
.record li span.ft18 {
font-size: 18px;
line-height: 20px;
color: #666;
}
.record li span {
display: block;
color: #525252;
text-align: center;
}
.record .popular {
width: 61px;
}
.record .liked {
width: 61px;
border: none;
}

.home_top_user {
width: 475px;
position: absolute;
left: 240px;
}
.name_fav {
overflow: hidden;
}
.home_top_user h1 {
height: 38px;
line-height: 43px;
color: #333;
font-size: 18px;
font-family: '微软雅黑E\8F6F\96C5\9ED1';
font-weight: normal;
}
.home_top_user h1 a {
color: #333;
font-weight: bold;
}
.fl {
float: left;
display: inline;
}
.home_top_user .followdiv {
margin: 9px 12px 0 9px;
height: 30px;
}
.home_top_p {
color: #333;
margin-bottom: 25px;
height: 20px;
overflow: hidden;
clear: both;
}
.home_top_p a {
color: #666;
}
.home_top_x {
color: #666;
margin-bottom: 4px;
overflow: hidden;
height: 19px;
}
.home_top_x {
color: #666;
margin-bottom: 4px;
overflow: hidden;
height: 19px;
}
.ht_more_info {
position: absolute;
color: #666;
right: 10px;
top: 10px;
}
.home_top_x span {
padding-right: 20px;
color: #666;
}
.home_top_nav {
height: 43px;
width: 958px;
background: url(../images/home-top-bg.png) repeat-x 0 0;
position: relative;
}
.rb5 {
border-radius: 0 0 5px 5px;
}
.home_nav {
padding-left: 23px;
overflow: hidden;
}
.home_nav li.c {
background: url(../images/home-top-bg.png) repeat-x 0 -100px;
}
.home_nav li {
height: 43px;
line-height: 43px;
width: 83px;
text-align: center;
float: left;
display: inline;
}
.home_nav li a {
font-weight: bold;
font-size: 14px;
color: #333;
}
/*personal*/
#body {
margin-top: 10px;
}
.piece1 {
width: 960px;
position: relative;
background: #fff;
border-radius: 7px;
background: none	9;
}
.piece1_hd {
background: url(../images/settings_hd_bg.png) no-repeat;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/settings_hd_bg.png',sizingMethod='scale');
}
.piece1_bd {
background: url(../images/settings_bd_bg.png) repeat-y;
overflow: hidden;
zoom: 1;
background-color: #FFF;
}
.piece1_ft {
background: url(../images/settings_ft_bg.png) no-repeat;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/settings_ft_bg.png',sizingMethod='scale');
}
#content {
min-height: 600px;
_height: 600px;
padding-top: 20px;
}
#setting_bar {
margin: 25px 0 0 35px;
font-size: 14px;
width: 147px;
}
.fl {
float: left;
display: inline;
}
#setting_bar h1 {
font-size: 16px;
line-height: 130%;
background: url(../images/settings_icon.png) no-repeat -5px -8px;
padding-left: 20px;
font-weight: normal;
color: #333;
}
#setting_bar .base_info {
margin: 10px 0 20px 14px;
}
#setting_bar a.c {
font-weight: bold;
}
#setting_bar a {
color: #ff5697;
padding: 0 10px;
line-height: 28px;
font-size: 14px;
}
#setting_box {
font-size: 14px;
width: 685px;
margin-left: 50px;
}
#setting_form {
margin-top: 22px;
position: relative;
}
.settings_title {
background: url(../images/settings_title_bg.png) no-repeat;
width: 649px;
height: 30px;
padding: 0 10px 0 20px;
margin-bottom: 14px;
margin-left:0px;
}
.settings_title span {
color: #70a700;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;

}
#setting_form dl {
margin-bottom: 12px;
}
#setting_form dd {
float: left;
width: 105px;
text-align: right;
line-height: 26px;
vertical-align: middle;
color: #666;
}
#setting_form dt {
margin-bottom: 12px;
font-size: 12px;
color: #666;
}
.setting_basic .unick {
font-size: 12px;
}
.setting_basic .unick input {
height: 24px;
line-height: 24px;
width: 255px;
border: 1px solid #cfcfcf;
padding-left: 5px;
color: #666;
}
.iner {
_padding-top: -50px;
display: inline;
}
.setting_basic .unick span {
color: #f00;
margin-left: 10px;
margin-right: 5px;
font-weight: bold;
}
.setting_basic .sex input {
height: 24px;
vertical-align: middle;
margin-left: 10px;
}
.setting_basic .weibo input {
height: 24px;
width: 255px;
line-height: 24px;
border: 1px solid #cfcfcf;
padding-left: 5px;
color: #666;
}
.r3 {
border-radius: 3px;
}
.setting_basic .location select {
width: 70px;
}
.setting_basic select {
border: 1px solid #cfcfcf;
height: 22px;
vertical-align: -4px;
}
.setting_basic .is_show_sel {
margin-top: 4px;
float: right;
margin-top: -25px	9;
}
.mt30 {
margin-top: 30px!important;
}

.setting_basic .gray_text {
height: 24px;
line-height: 24px;
width: 68px;
color: #000;
padding: 0 5px;
font-size: 12px;
margin-right: 5px;
border: 1px #cfcfcf solid;
}
.setting_basic .pstyle {
width: 365px;
}
.fashion_list {
width: 355px;
border: 1px #CFCFCF solid;
overflow: hidden;
border-radius: 3px;
padding: 10px;
position: absolute;
left: 105px;
background-color: #fff;
display: none;
top: 25px;
_left: 0;
}
.fashion_list .tag {
width: 330px;
float: left;
}
.fashion_list .tag a {
color: #690;
font-size: 12px;
cursor: pointer;
padding: 2px 4px;
white-space: nowrap;
}
.fashion_list .close {
background: url(/img/twitter_light_box_bg.png) no-repeat left bottom;
width: 11px;
height: 11px;
margin: 5px 5px 0 0;
float: right;
}
.setting_basic textarea {
height: 120px;
width: 466px;
border: 1px solid #cfcfcf;
color: #666;
padding: 5px;
}
#setting_form .green_button {
width: 122px;
height: 37px;
font-size: 16px;
background-color: #75a707;
text-align: center;
display: inline-block;
color: #fff;
vertical-align: middle;
font-weight: bold;
border: none;
}
/*reset password*/
#resetpassword dt {
float: left;
width: 550px;
}
#resetpassword .gray_text {
float: left;
border: 1px solid #cfcfcf;
}
.setting_password .gray_text {
height: 24px;
line-height: 24px;
width: 194px;
padding: 0 5px;
font-size: 14px;
}
.tip {
float: left;
padding-left: 25px;
font-size: 12px;
margin-top: 3px;
}
.wrong-tip {
background: url(../images/7ycvj_kqyxortem5bdix2ugfjeg5sckzsew_17x50.png) no-repeat 5px -23px;
color: #ff89a7;
}
#img_checkcode {
width: 65px;
height: 25px;
float: left;
margin-left: 5px;
}
#resetpassword .checekcode {
width: 84px;
}
#checkcode_change {
float: left;
line-height: 25px;
color: #85ba00;
margin-left: 5px;
}
#resetpassword .subbox {
padding-top: 10px;
position: relative;
}
#resetpassword .submit {
display: block;
border: 0;
background-position: 0 -32px;
color: #fff!important;
font-size: 14px;
font-weight: bold;
width: 84px;
height: 29px;
cursor: pointer;
background-color: #75a707;
float:left;
}
/*avatar*/
#setting_box .head_bd {
border: 3px solid #e3e3e3;
margin-right: 15px;
vertical-align: top;
}
.setting_avartar .gray_text {
width: 244px;
height: 24px;
margin-right: 2px;

}
.setting_avartar .gray_button {
width: 65px;
height: 26px;
display: inline;
color: #333;
font-size: 16px;
}
.gray_button {
background-color: #e4e4e4;
text-align: center;
display: inline-block;
color: #fff;

font-weight: bold;
border: none;
}
.setting_avartar .tfile {
position: absolute;
filter: alpha(opacity=0);
opacity: 0;
left: 255px;
left: 250px	9;
_left: 130px;
top: 0;
height: 26px;
display: none;
}
.setting_avartar .preview {
display: none;
}
.setting_avartar .avartar_confirm, .setting_avartar .preview {
display: none;
}
#resetpassword .reset {
padding-left: 10px;
color: #999;
text-decoration: underline;
position: absolute;
top: 15px;
left: 90px;
}
/*talk   write*/
#talk_content{
	width:100%;
	border-radius: 10px;
	background-color: #fff;
}
#talk_title{
	background:url('../images/27sa_kqyvsmcmkrbhg6cugfjeg5sckzsew_960x150.jpg_960x150.jpg') center repeat ;
	height:150px;
	border-radius: 10px 10px 0 0;
}
.gr_info {
left: 20px;
overflow: hidden;
padding: 7px 10px 8px;
zoom: 1;
position: absolute;
top: 14px;
background-color: rgba(0,0,0,0.5);
color: #fff;
padding-left: 60px;
font-family: '\5FAE\8F6F\96C5\9ED1';
}
#talk_title h2 {
font-size: 24px;
line-height: 24px;
color: #fff;
font-weight: bold;
white-space: nowrap;
margin: 0 0 8px;
}
#write_content{
	height:800px;
	padding: 20px 0 0 20px;
}
#gr_set_top {
height: 40px;
line-height: 40px;
margin: 10px 0 0;
overflow: hidden;
zoom: 1;
}
#gr_set_top h2 {
height: 40px;
line-height: 40px;
font-size: 25px;
font-family: '\5FAE\8F6F\96C5\9ED1';
text-indent: 30px;
font-weight: normal;
float: left;
display: inline;
}
.gr_set_form {
padding: 0;
margin: 40px 0 80px;
}
.gr_set_form dl {
margin: 0 0 20px 0;
overflow: hidden;
zoom: 1;
}
.gr_set_form dt {
width: 75px;
float: left;
height: 26px;
line-height: 26px;
text-align: right;
font-size: 14px;
}
.gr_set_form dd {
width: 780px;
float: left;
}
.gr_set_form .form_text {
width: 410px;
border: 1px solid #aaa;
border-radius: 3px;
height: 28px;
padding: 0 5px;
line-height: 22px;
}
.gr_set_form .desc {
margin: 0 10px;
height: 20px;
line-height: 20px;
}
.gr_set_form .desc b {
font-weight: normal;
display: inline-block;
height: 20px;
color: #999;
line-height: 20px;
}
.editor-textarea{
width:550px;
}
.gr_set_form .form_sub {
width: 113px;
height: 30px;
border: none;
text-align: center;
color: #fff;
font-weight: bold;
font-size: 14px;
line-height: 30px!important;
cursor: pointer;
vertical-align: middle;
background:#ff6ea7;
}
 .form_yulan {
display: inline-block;
margin-left: 10px;
cursor: pointer;
color: green;
cursor: pointer;
margin-left: 5px;
text-decoration: underline;
vertical-align: text-top;
}
.gr_set_form a{
text-decoration: underline;
}
/*talk*/
.topic_filter {
height: 33px;
line-height: 33px;
background: #f8f8f8;
overflow: hidden;
}
.topic_filter .filter_module {
float: left;
color: #666;
}
.topic_filter .filter_module .title {
padding: 0 10px;
color: #666;
display: inline-block;
}
.topic_filter .filter_module .selector {
display: inline-block;
padding: 0 3px 0 20px;
height: 16px;
line-height: 16px;
color: #666;
background: url(../images/kuw9n_kqyvqrsdnjbhm2cugfjeg5sckzsew_16x32.png) no-repeat 0 2px;
}
.newtopic_btn {
height: 25px;
width: 85px;
display: inline;
background: url(../images/group-bg-v5.png) no-repeat;
background-position: 0 -100px;
float: right;
margin: 4px 10px;
display: inline;
}